body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
  }
  
  .header1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0 3%;
  }

  li{
    list-style-type: none;
  }

  a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
  }

  .logo{
    height:100px;
    width: 100px;;
  }

  .header-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }

  .header2{
    background-color: #1f2937;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    padding: 5% 5%;
  }

  .button-top{
    background-color: #3b82f6;
    color:aliceblue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    width: 120px;
  }

  .awesome-img{
    height: auto;
    width: auto;
  }

  .awesome-title{
    font-size: 48px;
    font-weight: bolder;
  }

  .awesome-txt{
    font-size: 18px;
    color: rgb(195,201,206);
  }

  .header2-left, .header2-right{
    display: flex;
  }

  .header2-left{
    flex-direction: column;
    min-width: 50%;
  }

  .header2-right{
    border: 2px solid gray;
    min-width: 50%;
    justify-content: center;
  }

  .h2-pic{
    height: auto;
    width: 100%;
  }
  
  .content-header{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    padding: 5%;
  }
  
  .info-pic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8%;
  }

  .pic-box{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    max-width: 20%;
    height: auto;
    padding-bottom: 10%;
  }

  .pic{
    border: 5px solid #3882f6;
    border-radius: 10%;
    margin:5%;
  }
  
  .pic-txt{
    font-size: 18px;
    text-align: center;
    margin:0 5%;
  }

  .quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    padding: 50px 18%;
    text-justify: distribute;
  }

  .thor{
    text-align: right;
    font-size: 26px;
    font-weight: bold;
  }

  .spacer{
    display: flex;
    justify-content: center;
  }

  .action{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #3b82f6;
    width: 70%;
    padding: 5%;
    margin: 10%;
  }

  .action-left, .action-right{
    display: flex;
    
  }

  .action-left{
    width: 70%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .action-right{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  .call, .call-detail{
    color: aliceblue;
  }

  .call{
    font-size: 24px;
    font-weight: bold;
  }
  
  .button-bot{
    background-color: #3b82f6;
    border: 2px solid aliceblue;
    color:aliceblue;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 15px;
    width: 120px;
  }
  
  .footer{
    background-color: #1f2937;
    color: aliceblue;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

  }