body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
  }
  
  .header1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid red;
    background-color: #1f2937;
    padding: 0 3%;
  }
  li{
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color: aliceblue;
  }

  .logo{
    border: 1px solid yellow;
    height:100px;
    width: 100px;;
  }
  .header-links{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
  .header2{
    border: 1px solid green;
    background-color: #1f2937;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    padding: 3% 3%;
  }
  button{
    background-color: #3b82f6;
    color:aliceblue;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    padding: 5px 15px;
    width: 100px;
  }
  .awesome-img{
    height: auto;
    width: auto;
  }
  .awesome-title{
    font-size: 48px;
    font-weight: bolder;
  }
  .awesome-txt{
    font-size: 18px;
  }
  .header2-left, .header2-right{
    display: flex;
    border: 1px solid orange;
  }
  .header2-left{
    flex-direction: column;
    padding-right:20%;
  }
  .header2-right{
    width: 100%;
    height: 250px;
    background-image: url('../Project-Landing_Page/images/saffron.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
  }
  
  .content{
    border: 1px solid teal;
    padding: 50px 0;
  }
  .content-header{
    display:flex;
    font-size: 36px;
    font-weight: bolder;
    justify-content:center ;
  }
  
  .info-pic{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .pic{
    height:200px;
    width:200px;
    border: 5px solid #3882f6;
    border-radius: 10%;
    margin:30px;
  }
  .pic-txt{
    width:200px;
    margin:0 30px;
  }